PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/printed_soul_gift
JWT_SECRET=printed_soul_gift_super_secret_jwt_key_987654321

# URLs
API_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174

# PayU Credentials (Plug and Play)
PAYU_MERCHANT_KEY=TEST_KEY
PAYU_MERCHANT_SALT=TEST_SALT
PAYU_ENV=sandbox

# Delhivery One Credentials (Plug and Play)
DELHIVERY_TOKEN=
DELHIVERY_BASE_URL=https://track.delhivery.com
DELHIVERY_PICKUP_LOCATION=Printed_Soul_Warehouse
DELHIVERY_GST=

# Nodemailer SMTP Credentials (Plug and Play)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=Printed Soul Gift <orders@printedsoulgift.com>
